// Colours

// Primary Colours
$P50: #e6eeff;
$P75: #96b9ff;
$P100: #6b9cff;
$P200: #2b72ff;
$P300: #0055ff;
$P500: #00349c;

// Secondary Colours
$S50: #e6fcfa;
$S75: #9af1eb;
$S100: #70ebe3;
$S200: #33e2d6;
$S300: #09dcce;
$S500: #05867e;

// Gray
$G50: #fafafa;
$G75: #c0c0c0;
$G100: #a6a6a6;
$G200: #808080;
$G300: #666666;
