@import '../../Styles/Variables.scss';

.avatar {
    background-color: $P50;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    .avatar-user {
        width: 75%;
        height: 75%;
        color: $P100;

        
    }
}

.avatar-small {
    width: 50px;
    height: 50px;
}

.avatar-medium {
    width: 75px;
    height: 75px;
}

.avatar-large {
    width: 100px;
    height: 100px;
}
